/* ~960px スマホ・タブレットサイズ */
@media screen and (max-width: 960px) {
  .bg-thin-grey {
    background-color: rgba(241, 241, 241, 0.7);
  }

  #sp-nav-new.open {
    transform: translateX(0);
    transition: all 0.3s ease-in-out 0.1;
  }

  #sp-nav-new {
    display: block;
    position: fixed;
    height: 100vh;
    width: 50vw;
    top: 0;
    right: 0;
    background-color: #fff;
    transform: translateX(50vw);
    transition: all 0.5s ease-in-out 0s;
    z-index: 10;
  }

  .close-btn {
    padding: 25px;
  }

  .sp-list {
    background: #f1f1f1;
    height: 100vh;
  }

  .sp-list li {
    border-bottom: 1px solid #dbdbdb;
    font-size: 16px;
    line-height: 50px;
  }

  .sp-list a {
    display: block;
    text-decoration: none;
    padding-left: 30px;
    color: inherit;
  }

  .gnav {
    line-height: 790%;
  }

  .site-logo {
    margin-left: 1vw;
  }

  .gnav__menu__item {
    display: none;
  }

  .nav_toggle {
    display: block;
    /* position: absolute; */
    /* background-color: #000;
    height: 100vh */
  }

  .nav_toggle span {
    display: block;
    height: 4px;
    background: black;
    position: absolute;
    width: 35px;
    right: 1em;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .nav_toggle span:nth-child(1) {
    top: 30px;
  }

  .nav_toggle span:nth-child(2) {
    top: 45px;
  }

  .nav_toggle span:nth-child(3) {
    top: 60px;
  }

  

  .eyecatch {
    /* background-image: url("../img/eyecatch.png"); */
    /* background-position: 50% 50%;
    background-repeat: no-repeat; */
    height: 100vh;
    width: 100%;
    margin-bottom: 100px;
    overflow: hidden;
  }

  .eyecatch > h1 { 
    font-size: 7.0vw;
    text-align: center;
    line-height:9.2vw;
  } 

  .eyecatch > h1::after{
    font-size:3.6vw;
    line-height:4.8vw;
    margin-top:40px;
  }

  section.top-page{
    width:100%;
  }

  .sp-left {
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 30px;
  }

  .page,
  .special-padding.page{
    padding-bottom: 120px;
  }

  .page > h1{
    font-size:24px;
  }

  .page > h2{
    font-size:18px
  }

  .boxContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 18.5px auto;
  }

  .boxContainer > div {
    width: 100%;
  }

  .boxContainer h3 {
    font-size: 20px;
  }

  /* .topbox, .middle, .smallbox {
    width: 60%;
    margin: 0 auto 2em;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  } */

  /* .topbox img {
    margin-bottom: 70px;
    height: 200px;
    width: auto;
  }

  .smallbox.middle {
    border-right: 0;
  }

  .smallbox {
    width: 60%;
    margin: 0 auto 2em;
    border-top: 1px solid rgba(70, 70, 70, 0.3);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  }

  .smallbox img {
    margin-bottom: 70px;
    height: 200px;
    width: auto;
  } */

  .about__menu{
    height:auto;
    /* overflow: hidden; */
  }

  .anav{
    display: none;
  }

  #name{
    display: block;
  }

  .service__img {
    /* background-image: url("../img/about.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%; */
    display: none;
  }

  .service__menu {
    /* width: 84%;
    height: 80px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-bottom: 1px solid rgba(70, 70, 70, 0.3);
    margin-bottom: 40px; */
    display: none;
  }

  .renovation__img {
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/renovation.png");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .service__page{
    width:95%;
  }

  .bnav li {
    width: 30%;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.2em;
    border-bottom: 1px solid rgba(70, 70, 70, 0.3);
    padding-bottom: 5px;
  }

  .bnav .bnav__menu {
    border-bottom: none;
  }

  .support__img {
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/support.png");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .inspection__img {
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/inspection.png");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .performance__img {
    background-image: url("../img/performance.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }

  .recruit__img {
    background-image: url("../img/recruit.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }

  .recruit2__img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-image: url("../img/recruit2.png");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .soundproof__img{
    width:100%;
  }

  .about__img {
    /* background-image: url("../img/abo.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%; */
    display: none;
  }

  .about__menu {
    /* width: 84%;
    height: 80px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-bottom: 1px solid rgba(70, 70, 70, 0.3);
    margin-bottom: 40px; */
    display: none;
  }

  .message__img {
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/message.png");
    /* margin-top: 100px; */
    margin-top: 10px;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .abo__page{
    width:95%;
  }

  .about__page{
    width:95%;
  }

  .recruit__page{
    width:95%;
  }

  .abo__sentence p {
    font-size: 16px;
    padding-top: 21px;
    line-height: 30px;
    letter-spacing: 0.2em;
  }

  .information__img {
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/information.png");
    margin-top: 100px;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  iframe {
    width: 100%;
    height: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__img {
    background-image: url("../img/finger-2056030_1920.jpg");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }

  .privacy__img {
    background-image: url("../img/privacy.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }

  

  
}
